@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.tab-btn-border {
    border-bottom: 2px solid hsl(0, 94%, 66%);
    font-weight: 500;
}

/* Feature and Hero Section */

.right-capsule {
    width: 80%;
    height: 80%;
    background-color: #5368DF;
    position: absolute;
    right: 0%;
    top: 25%;
    z-index: -10;
}

.right-capsule-mobile {
    background-color: #5368DF;
    position: absolute;
    z-index: -10;
    height: 80%;
    width: 80%;
    right: 0%;
    top: 25%;
}

.left-capsule, .left-capsule-t2, .left-capsule-t3 {
    background-color: #5368DF;
    position: absolute;
    z-index: -10;
    height: 85%;
    width: 80%;
    left: 0%;
    top: 25%;
}

.left-capsule-mobile, .left-capsule-mobile-t2, .left-capsule-mobile-t3 {
    background-color: #5368DF;
    position: absolute;
    z-index: -10;
    height: 75%;
    width: 85%;
    left: 0%;
    top: 25%;
}

.left-capsule-t2, .left-capsule-t3 {
    height: 75%;
    width: 70%;
}

.left-capsule-mobile-t2, .left-capsule-mobile-t3 {
    height: 65%;
    width: 75%;
    top: 30%;
}

/* FAQ */

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.active {
    max-height: 300px;
}